@model ICollection<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any())
{
    <div class="product-parent">
        @foreach (var product in Model)
        {
            <div class="product">
                <h3>@product.Name</h3>
                <a asp-action="ProductView" asp-route-Id="@product.Id">
                    <img src="/images/@product.Id/@product.MainImage"
                         asp-append-version="true" />
                </a>
                <span class="discount">- @product.Discount %</span>
                <span class="@(product.Discount>0?"old-price":null)">@product.Price</span>
                @if (product.Discount > 0)
                {
                    <span class="new-price"> @product.NewPrice ֏</span>
                }
            </div>
        }
    </div>
}
else
{
    <h3 style="color:crimson">Products not found</h3>
}