@model ProductViewModel
@{
    ViewData["Title"] = "ProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="background-color:white; border:solid 1px; border-radius:5px;border-color:darkgrey">
    <div class="row pt-4">
        <div class="col-sm-7">
            <img style="width:450px;" src="~/images/@Model.Id/@Model.MainImage" />
        </div>
        <div class="col-sm-5 pt-2">
            <h2 class="product-font">@Model.Name</h2>
            <span class="product-font">Type: @Model.CategoryName</span><br />
            <span class="product-font">Product Status: @Model.ProductStatus</span><br />
            @foreach (var item in Model.VariantModels)
            {
                <span class="product-font">@item.VariantName:  @item.Value</span><br />
            }
            <span class="product-font">Sale Price &emsp;&emsp;<span style="font-size: 20px; color: brown;">@Model.Price ֏</span></span><br />
            <div class="pt-3">
                <button class="btn btn-warning pb-1 addtocart" data-id="@Model.Id" data-toggle="modal" data-target="#myModal">Add to cart</button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Item is added to cart</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
